.post-page {
  padding: 0 50px;

  .post-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 35px;
    border-bottom: 1px solid #d9d9d9;

    .post-title {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .switch {
        display: flex;
        gap: 20px;
        align-items: center;
      }
    }

    .post-images-block {
      display: flex;
      gap: 20px;
      margin-top: 25px;
      margin-bottom: 50px;
      height: 400px;

      .post-main-image {
        width: 640px;
        height: 400px;
        object-fit: cover;
      }

      .post-images {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .ant-image,
        img {
          width: 288px;
          height: 190px;
          object-fit: cover;
        }
      }
    }

    .post-author {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .post-author-info {
        display: flex;
        gap: 15px;

        .post-author-info-text {
          display: flex;
          flex-direction: column;
          font-size: 18px;

          .post-author-name {
            font-size: 20px;
          }
        }
      }
    }
  }

  .post-info {
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-bottom: 1px solid #d9d9d9;

    .post-info-block {
      display: flex;
      align-items: center;
      gap: 10px;

      svg {
        font-size: 36px;
      }

      .post-info-text {
        font-size: 18px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .post-description {
    padding-top: 35px;
    padding-bottom: 25px;
    max-height: 500px;
    overflow: hidden;

    .post-description-text {
      font-size: 16px;
    }
  }
}
