.home-page {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 100px;

  .home-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    min-height: 85vh;

    .info-block {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    svg {
      display: none;
    }
  }

  .home-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;

    .title {
      font-weight: 500;
    }

    .home-cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .home-third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-weight: 500;
      margin-bottom: 20px;
    }

    .subTitle {
      text-align: center;
      margin-bottom: 75px;
    }

    .info-block {
      display: flex;
      justify-content: space-between;

      .topics-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .number-box {
          width: 30px;
          height: 22px;
          background-color: #ff812c;
          color: #fff;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          border-radius: 2px;
          margin-top: 40px;
        }
      }

      img {
        display: none;
      }
    }
  }
}

@media (min-width: 1280px) {
  .home-page {
    padding: 50px 0;

    .home-first {
      .info-block {
        width: 40%;
        align-items: flex-start;
      }
      svg {
        display: block;
        width: 60%;
        height: auto;
      }
    }

    .home-second {
      .home-cards {
        flex-direction: row;
        gap: 70px;
      }
    }

    .home-third {
      .info-block {
        img {
          display: block;
          width: 40%;
          height: auto;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .home-page {
    padding: 50px 150px;
  }
}
