.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));

  .logo {
    height: 34px;
  }

  .button-group {
    display: flex;
    gap: 20px;
  }
}
