.header {
  height: 128px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));

  .logo {
    height: 34px;
  }

  .button-group {
    display: flex;
    gap: 20px;
  }
}

.ant-layout-header {
  padding: 0 5px;
}

@media (min-width: 800px) {
  .header {
    height: 64px;
    flex-direction: row;
    justify-content: space-between;
  }
  .ant-layout-header {
    padding: 0 50px;
  }
}
