.user-profile-page {
  margin: -25px -50px;

  .user-info-section {
    display: flex;
    align-items: center;
    gap: 60px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 15px 15px;
    padding: 25px 50px;

    .user-info {
      flex: 1;
      display: flex;
      flex-direction: column;

      .location {
        color: #ff812c;
        font-weight: 500;
        margin-bottom: 16px;
      }

      .languages,
      .about-me {
        font-size: 16px;
        margin-bottom: 16px;
      }

      .edit-button {
        align-self: flex-end;
      }
    }
  }

  .posts-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
  }
}
