.user-profile-page {
  display: flex;
  align-items: center;
  gap: 60px;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 15px 15px;
  margin: -25px -50px 0;
  padding: 16px 50px;
}

.user-avatar {
  height: 150px;
  flex: 0 0 150px;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.user-info {
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .location {
    display: block;
    color: #ff812c;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
  }

  .languages, .about-me {
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
  }
}
