.register-container {
  display: flex;
  height: 100%;
  .image-block {
    width: 50%;
    background-color: #fafafa;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    svg {
      width: 406px;
      height: 412px;
      margin-top: 45px;
      margin-bottom: 75px;
    }

    .logo {
      height: 34px;
    }
  }

  .form-block {
    width: 100%;
    padding: 25px 50px 10px 50px;

    .register-form {
      margin-top: 15px;

      .ant-form-item {
        margin-bottom: 10px;

        .ant-form-item-explain-error {
          font-size: 12px;
        }
      }

      .form-button {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}

@media (min-width: 800px) {
  .register-container {
    .image-block {
      display: flex;
    }

    .form-block {
      width: 50%;
      padding: 75px 105px 10px 112px;
    }
  }
}
