$border: 1px solid #EFEFEF;

@mixin meassage-item($bg-color) {
    padding: 4px 15px;
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
    background-color: $bg-color;
    margin: 0;
}

@mixin d-flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

.header {
    z-index: 1;
}

.ant-layout-content {
    padding-top: 0;
}

.chat-page {
    @include d-flex(column, center, center);
    padding: 0 50px;
}

.chat-header {
    height: 110px;
    background-color: #fff;
    border-bottom: $border;
    @include d-flex(row, center, flex-start);

    h2 {
        font-weight: 700;
        margin: auto;
        font-size: 28px;
    }

    .recipient-name {
        font-weight: 600;
        font-size: 20px;
        margin-left: 20px;
    }

    .ant-avatar {
        margin-left: 30px;
    }
}

.messages {
    width: 100%;
    height: 80vh;

    .chat-list {
        background-color: #fff;
    
        .chat-item {
            @include d-flex(row, center, space-between);
            padding: 15px 25px;
            border-bottom: $border;
            cursor: pointer;

            div{
                @include d-flex(row, center, center );
            }

            .recipient-name {
                font-size: 16px;
                font-weight: 600;
                margin-left: 20px;
            }
        }
    
        .chat-open {
            background-color: #FAFAFA;
        }

        .msg-icon {
            font-size: 25px;
            color: #FF812C;
            margin-right: 30px;
        }
    }
}


.chat-messages {
    background: #FAFAFA;
    height: 100%;
    border: $border;

    .no-selected {
        color: #FF812C;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        padding-top: 20%;
    }

    .flex {
        display: flex;
        justify-content: center;
    
        .send-input {
            display: flex;
    
            input {
                width: 45vw;
            }
        }
    }
}

.scroll-msg {
    height: 58vh;
    width: 100%;
    padding: 25px;

    ::-webkit-scrollbar {
        width: 10px;
      }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }

    .sent {
        align-self: flex-end;
        margin-bottom: 10px;

        p {
            @include meassage-item(#FF812C);
        }
    }
    
    .reply {
        display: flex;
        align-items: flex-start;
        align-items: center;
        margin-bottom: 10px;
    
        p {
            @include meassage-item(#8C8C8C);
            margin-left: 10px;
        }
    }
}

