.post {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;

  img {
    object-fit: cover;
  }

  .ant-skeleton-image {
    height: 250px;
    width: 400px;
  }

  .ant-card-body {
    flex: 1;
    max-height: 185px;

    .ant-card-meta {
      height: 100%;
    }
  }
}

.post-user {
  .ant-card-body {
    max-height: 140px;
  }
}
