$primary-color: "#FF812C";

* {
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

#root {
  white-space: pre-line;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
